@use "../mixin" as *;
@import "../_mixin.scss";

/////////////////////////////////////////////////////////////// LoginComponent SASS (inside App.jsx)
.login-div_background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: white;
    opacity: 50%;
    z-index: 3;
}
// Div holding the component
.login-div {
    @include borderD();
    border-radius: $borderRadius;
    background-color: white;
    position: absolute;
    left: 37.5vw;
    top: 15vh;
    z-index: 3;
    width: 25vw;
    height: 60vh;
    text-align: center;
    color: black;

    label {
        display: block;
        text-align: left;
        margin-left: 7vw
    }

    h2 {
        margin: 0;
        margin-bottom: 1vh;
    }
}
// Cancel button
.login-div_cancel {
    @include cancelButton();
}

.login-div_cancel:hover {
    background-color: $hoverColour;
}
// Picture of the user
.login-div_profile_pic {
    width: 12vw;
    height: 25vh;
    margin: 3vh auto;
    margin-left: 1.5vw;
    display: inline-block;
}
// 2 inputs, Name and Password
#login-div_username, #login-div_password {
    @include borderD();
    display: block;
    margin-left: 7vw;
    border-radius: $borderRadius;
}
// Register button
.login-div-register {
    @include borderD();
    @include paddingT(1vh, 1vw);
    border-radius: $borderRadius;
    cursor: $cursorP;
}

.login-div-register:hover {
    background-color: $hoverColour;
}