@mixin displayF($display, $content) {
    display: $display;
    justify-content: $content;
}
@mixin borderD() {
    border: $borderThickness solid $borderColour;
}
@mixin displayTab() {
    display: table;
    table-layout: fixed;
}
@mixin paddingT($Fvalue, $Svalue) {
    padding: $Fvalue $Svalue;
}
@mixin cancelButton() {
    float: right;
    background-color: white;
    border: none;
    border-left: 0.14vh solid $borderColour;
    border-bottom: 0.14vh solid $borderColour;
    cursor: $cursorP;
    border-top-right-radius: $borderRadius / 2;
}
$borderThickness: 0.4vh;
$borderColour: grey;
$hoverColour: lightskyblue;
$borderRadius: 0.7vh;
$cursorP: pointer;

* {
    box-sizing: content-box;
}
html, body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

/////////////////////////////////////////////////////////////// App.jsx component SASS
.page-top {
    @include displayF(flex, space-between);
    align-items: center;
    overflow: hidden;

    span {
        font-weight: bold;
        font-size: 1.4rem;
        padding: 2vh 0 2vh 1.35vw;
        margin-right: 8.5vw;
    }
}
//Today button and div holding all buttons
.page-top_divbuttons {
    @include displayF(flex, space-between);
    width: 30vw;

    button {
        @include borderD();
        @include paddingT(1vh, 2vw);
        border-radius: $borderRadius;
        cursor: $cursorP;
    }

    button:hover {
        background-color: $hoverColour;
    }
}
// Ul + li represents Week,Month,Year buttons
.page-top_ul {
    @include borderD();
    border-radius: $borderRadius;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
    }

    button {
        @include paddingT(1vh, 2vw);
        cursor: $cursorP;
        border: 0;
        border-radius: 0;
    }

    button:hover {
        background-color: $hoverColour;
    }
}
#page-top_ul_liF {
    border-top-left-radius: $borderRadius / 2;
    border-bottom-left-radius: $borderRadius / 2;
}
#page-top_ul_liL {
    border-top-right-radius: $borderRadius / 2;
    border-bottom-right-radius: $borderRadius / 2;
}
// Search input and button
#page-top_input {
    @include paddingT(1vh, 0vw);
    @include borderD();
    border-top-left-radius: $borderRadius;
    border-bottom-left-radius: $borderRadius;
    border-right: 0;
}
.page-top_search_button {
    @include paddingT(1vh, 2vw);
    @include borderD();
    border-top-right-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    cursor: $cursorP;
}
.page-top_search_button:hover {
    background-color: $hoverColour;
}
// Svg change of background 
.page-top_svg_div {
    display: flex;
    align-items: center;

    svg {
        height: 5.7vh;
        width: 2.6vw;
        cursor: pointer;
    }
}
// User picture
.page-top_user_div {
    @include paddingT(1.4vh, 0.65vw);
    border-left: 0.1vh solid $borderColour;
    user-select: none;
    cursor: $cursorP;
    background-color: rgb(253, 253, 253);

    img {
        height: 5.7vh;
        width: 2.7vw;
    }
}
// Division between the top of the page and its content
.page-divide_hr {
    margin: 0;
    border-collapse: collapse;
    border: 0.1vh solid $borderColour;
}
// Div holding the whole content of the page
.page-content {
    @include displayF(flex, space-between);
}
// Div holding the content of the left side of the page
.page-left_side {
    width: 20vw;
}
// Table representing the calendar 
.calendar-table {
    @include displayTab();
    width: 100%;
    text-align: center;
    margin: 1.4vh 0.65vw;
}
// The name of the month
.calendar-table_month {
    text-align: left;
    padding-left: 0.6vw;
    font-size: 1.3rem;
}
// Arrows which user uses to navigate
.calendar-table_arrow {
    user-select: none;
    cursor: $cursorP;
}
// Style for the elements of the table
.calendar-table_body {
    user-select: none;
    cursor: $cursorP;
    border-collapse: collapse;
}
.calendar-table_body tr td {
    @include paddingT(1vh, 0.32vw);
}
.calendar-table_body tr td:hover {
    background-color: $hoverColour;
}
.calendar-table_previousM, .calendar-table_nextM {
    color: $borderColour;
}
.calendar-table_arrow:hover, .calendar-table_previousM:hover, .calendar-table_nextM:hover {
    background-color: $hoverColour;
}
// Buttons under the table calendar
.create-switch_button {
    @include paddingT(1.42vh, 0.97vw);
    @include borderD();
    margin-left: 1vw;
    border-radius: $borderRadius;
    cursor: $cursorP;
}
.create-switch_button:hover {
    background-color: $hoverColour;
}

/////////////////////////////////////////////////////////////// Login component SASS (inside App.jsx)
.login-div_background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: white;
    opacity: 50%;
    z-index: 3;
}
// Div holding the component
.login-div {
    @include borderD();
    border-radius: $borderRadius;
    background-color: white;
    position: absolute;
    left: 37.5vw;
    top: 15vh;
    z-index: 3;
    width: 25vw;
    height: 60vh;
    text-align: center;
    color: black;

    label {
        display: block;
        text-align: left;
        margin-left: 7vw
    }

    h2 {
        margin: 0;
        margin-bottom: 1vh;
    }
}
// Cancel button
.login-div_cancel {
    @include cancelButton();
}
.login-div_cancel:hover {
    background-color: $hoverColour;
}
// Picture of the user
.login-div_profile_pic {
    width: 12vw;
    height: 25vh;
    margin: 3vh auto;
    margin-left: 1.5vw;
    display: inline-block;
}
// 2 inputs, Name and Password
#login-div_username, #login-div_password {
    @include borderD();
    display: block;
    margin-left: 7vw;
    border-radius: $borderRadius;
}
// Register button
.login-div-register {
    @include borderD();
    @include paddingT(1vh, 1vw);
    border-radius: $borderRadius;
    cursor: $cursorP;
}
.login-div-register:hover {
    background-color: $hoverColour;
}
/////////////////////////////////////////////////////////////// Search component SASS (inside App.jsx)
.search-div {
    @include borderD();
    border-radius: $borderRadius;
    position: absolute;
    top: 55vh;
    left: 1vw;
    height: 42vh;
    background-color: white;
    width: 22vw;
    text-align: center;
    z-index: 2;
    color: black;
}
// Cancel button in search component
.search-div_cancel {
    @include cancelButton();
}
.search-div_cancel:hover {
    background-color: $hoverColour;
}
// Div which holds all the results from search algorithm
.search-div_results {
    overflow-y: scroll;
    height: 28vh;
    border-top: $borderThickness solid $borderColour;
    border-bottom: $borderThickness solid $borderColour;
}
// Div which holds a single result from search algorithm
.search-div_plan_creation {
    @include displayF(flex, space-between);
    vertical-align: central;
    border: 1px solid black;

    button {
        cursor: $cursorP;
    }
    
    button:hover {
        background-color: $hoverColour;
    }
}
// Button to hide the r
.search-div_hide_button {
    @include borderD();
    @include paddingT(1.05vh, 1vw);
    display: block;
    border-radius: $borderColour;
    position: absolute;
    left: 5vw;
    bottom: 0;
    border-bottom: 0;
}
.search-div_hide_button:hover {
    background-color: $hoverColour;
    cursor: $cursorP;
}

/////////////////////////////////////////////////////////////// WeekComponent.jsx SASS
.week-content {
    width: 74.9vw;
}
// Table function as a header for names of weekdays
.week-content_header_table {
    @include displayTab();
    width: 98.25%;
    border-left: $borderThickness * 0.8 solid $borderColour;
    border-right: $borderThickness * 0.8 solid $borderColour;
    border-bottom: $borderThickness * 0.8 solid $borderColour;
    text-align: center;
    border-spacing: 0;

    thead tr td {
        @include paddingT(1vh, 0.32vw);
    }
    thead tr td:first-child {
        width: 4%;
    }

    thead tr tr td:first-child {
        width: 4%;
    }
}
#week-content_header_holiday {
    content: "";
}
// Div holding the table with plans and cells
.week-content_cells_div {
    height: 81.4vh;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    position: relative;
}
// Table with plans and cells
#week-content_cells_table {
    text-align: center;
    width: 100%;
    display: table;
    table-layout: fixed;
    border-spacing: 0;

    tbody tr td {
        @include paddingT(1vh, 0.32vw);
        border-left: $borderThickness / 5 solid $borderColour;
        border-bottom: $borderThickness / 5 solid $borderColour;
        content: "";
        height: 3.55vh;
        border-collapse: collapse;
    }

    tbody tr td:first-child {
        width: 4%;
    }

    tbody tr td:last-child {
        border-right: $borderThickness / 5 solid $borderColour;
    }

    tbody tr td:hover {
        background-color: $hoverColour;
    }
}
/////////////////////////////////////////////////////////////// DisplayAllTasks.jsx component
.display_all_task_div {
    position: absolute;
    width: 100%;
    top: 0;
    display: inline-block;
    z-index: 1;
    user-select: none;
    cursor: $cursorP;
}
/////////////////////////////////////////////////////////////// TaskDetails.jsx component 
.task-details_background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.task-details_div {
    @include borderD();
    border-radius: $borderRadius;
    position: absolute;
    top: 55vh;
    left: 1vw;
    height: 43vh;
    background-color: white;
    width: 22vw;
    text-align: center;
    z-index: 2;
    color: black;
}
// cancel button in the top right
.task-details_cancel {
    @include cancelButton();
}
.task-details_cancel:hover {
    background-color: $hoverColour;
}
// Div holding date, title and time 
.task-details_header {
    @include displayF(flex, flex-start);

    h1 {
        margin-right: 1vw;
        margin-left: 1vw;
        margin-bottom: 0;
    }
    h3 {
        margin-top: 2vw;
        margin-bottom: 0;
    }
    h4 {
        margin-top: 0.5vw;
        margin-left: 1vw;
        margin-bottom: 0.5vw;
    }
}
// Div with description of the plan
.task-details_description_div {
    height: 23vh;
    overflow-y: scroll;

    p:first-child {
        margin: 0;
    }

    p:last-child {
        word-wrap: break-word;
        text-align: justify;
        margin: 0;
    }
}
// The bottom of the task, 2 buttons
.task-details_bottom {
    @include displayF(flex, space-evenly);
}
.task-details_buttons {
    @include borderD();
    @include paddingT(1vh, 2vw);
    border-radius: $borderRadius;
}
.task-details_buttons:hover {
    cursor: $cursorP;
    background-color: $hoverColour;
}
/////////////////////////////////////////////////////////////// Addtask.jsx component
.add-task_background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}
.add-task_div {
    @include borderD();
    border-radius: $borderRadius;
    position: absolute;
    top: 55vh;
    left: 1vw;
    height: 43vh;
    background-color: white;
    width: 22vw;
    text-align: center;
    z-index: 2;
    color: black;

    h3 {
        margin-top: 2vh;
        margin-bottom: 0;
       margin-left: 1.5vw;
    }
}
// Cancel button
.add-task_cancel {
    @include cancelButton;
}
.add-task_cancel:hover {
    background-color: $hoverColour;
}
// Title, date, colour, time
.add-task_context {
    height: 10vh;

    div {
        display: flex;
        margin-top: 0.3vh;
        margin-bottom: 0.5vh;
    }

    div div {
        width: 30%;
        display: inline-block;
    }
}
#add-task_title {
    width: 40%;
    border: 0;
    border-bottom: $borderThickness solid $borderColour;
}
#add-task_date {
    width: 40%;
    cursor: $cursorP;
}
// Bottom area, textarea and button
.add-task_textarea {
    margin-top: 8vh;

    textarea {
        resize: none;
    }

    button {
        @include borderD();
        @include paddingT(1vh, 2vw);
        border-radius: $borderRadius;
        cursor: $cursorP;
    }

    button:hover {
        background-color: $hoverColour;
    }
}
// Hour selectors
#add-task_selects, #add-task_selectss {
    border: 0;
    border-bottom: 1px solid black;
    cursor: $cursorP;
}
// The "-" in between the hours
.add-task_between_selects {
    display: inline-block;
    margin: 0 0.66vw;
}
// Palette of colours
.add-task_colours {

    span svg circle {
        border-radius: 100%;
        outline: 2px solid transparent;
    }

    span svg circle:hover {
        outline: 2px solid black !important;
        cursor: $cursorP;
    }
}
#add-task_circle_blue {
    outline: 2px solid black;
}
// ENDED HERE
/////////////////////////////////////////////////////////////// MonthComponent.jsx component
.month-content_div {
    width: 74.9vw;
}
.month-content_table {
    @include displayTab();
    text-align: center;
    width: 99.7%;
    border-left: 0.32vh solid $borderColour;
    border-bottom: 0.32vh solid $borderColour;
    border-right: 0.32vh solid $borderColour;
    border-spacing: 0;

    thead tr td {
        @include paddingT(1vh, 0);
    }

    tbody tr td {
        outline: 0.5px solid grey;
        vertical-align: top;
        padding: 0;
        opacity: 100%;
        height: 14.3vh;
        cursor: $cursorP;
    }
}
.month-content_table tbody tr td:hover {
    background-color: $hoverColour;
}
/////////////////////////////////////////////////////////////// YearComponent.jsx
.year-content_table {
    @include displayTab();
    width: 90%;
    
    tbody tr td {
        @include paddingT(1vh, 0.32vw);
    }
}
.year-content_div {
    width: 75%;
    overflow-y: scroll;
    height: 91.2vh;
}
// Div containing 3 months to be spaced out
.year-content-months {
    @include displayF(flex, space-evenly);
}
