* {
    box-sizing: content-box;
}

html, body {
    background-color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.pagetop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.cal {
    font-size: 22px;
    padding: 15px 0 15px 15px;
}

.todaybutton {
    padding: 10px 15px;
    border: 0.5px solid black;
}

.ultoppage {
    margin: 0;
    padding: 0;
    border: 0.5px solid black;
}

.litopinline {
    display: inline-block;
}

.topbutton {
    padding: 10px 15px;
    border: 0;
}
.topbutton:hover {
    background-color: lightskyblue;
}
.changeofbg {
    width: 40px;
    height: 40px;
}

.svg {
    display: flex;
    align-items: center;
    background-color: white;
}
.logindiv {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: white;
    opacity: 50%;
    z-index: 3;
}
#loginUI {
    opacity: 100%;
    background-color: white;
    position: absolute;
    left: 35vw;
    top: 10vh;
    z-index: 3;
    width: 30vw;
    height: 80vh;
    border: 1px solid grey;
    text-align: center;
    color: black;
}
.profilepicturelogin {
    width: 15vw;
    height: 30vh;
    margin: 5vh auto;
    display: block;
}

.profile {
    height: 40px;
    width: 40px;
}

.profilediv {
    padding: 10px 10px;
    border-left: 0.5px solid black;
}

.hrmargin {
    margin: 0;
    border-collapse: collapse;
    border: 1px solid grey;
}
.bla {
    display: flex;
    justify-content: space-between;
}
.calendarbody {
    width: 20%;
}
#calendartable {
    width: 100%;
    text-align: center;
    margin: 10px 10px;
    max-height: 287px;
    display: table;
    table-layout: fixed;
}
#next, #previous {
    user-select: none;
    cursor: pointer;
}
#next:hover, #previous:hover, #todaybutton:hover {
    background-color: lightskyblue;
}
#monthsetting {
    text-align: left;
    padding-left: 10px;
    font-size: 20px;
}
td {
    padding: 7px 5px;
}
.nextmonth, .previousmonth {
    color: grey;
}
.tcontent {
    width: 75%;
}
.kok {
    height: 81.8vh;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    position: relative;
}
.tablecontent {
    width: 98.3%;
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
    border-bottom: 0.5px solid black;
    text-align: center;
    display: table;
    table-layout: fixed;
}
.tablecontent thead tr td:first-child {
    width: 5%;
}
.tablecontent thead tr tr td:first-child {
    width: 5%;
}
#tablebordercontent {
    text-align: center;
    width: 100%;
    display: table;
    table-layout: fixed;
}
#tablebordercontent tr td {
    border-spacing: 0px;
    content: "";
    height: 25px;
    outline: 0.5px solid grey;
}
.tablecontentdetail:hover {
    background-color: lightskyblue;
}
#tablebordercontent tr td:first-child {
    width: 5%;
}
.tbody {
    user-select: none;
    cursor: pointer;
}
.tbody tr td:hover {
    background-color: lightskyblue;
}
.tablemonthcontent {
    text-align: center;
    width: 100%;
    display: table;
    table-layout: fixed;
    cursor: pointer;
}
.tablemonthcontent tbody tr td {
    outline: 0.5px solid grey;
    vertical-align: top;
    padding: 0;
    opacity: 100%;
    height: 14.2vh;  
}
.tablemonthcontent thead tr:first-child {
    outline: 1px solid grey;
}
.tablemonthcontent tbody tr td:hover {
    background-color: lightskyblue;
}
.newtask {
    position: absolute;
    top: 55vh;
    left: 1vw;
    height: 43vh;
    background-color: white;
    width: 22vw;
    border: 1px solid black;
    text-align: center;
    z-index: 2;
}
.newTaskBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}
.yearcontent {
    width: 75%;
    overflow-y: scroll;
    height: 91.2vh;
}
.monthflexbox {
    display: flex;
    justify-content: space-evenly;
}
.yearlytable {
    display: table;
    table-layout: fixed;
    width: 90%;
}
.Taskdiv {
    position: absolute;
    width: 100%;
    top: 0;
    display: inline-block;
    margin-left: 6%;
    z-index: 1;
    user-select: none;
    cursor: pointer;
}
.taskdetails {
    position: absolute;
    top: 55vh;
    left: 1vw;
    height: 43vh;
    background-color: white;
    width: 22vw;
    border: 1px solid black;
    text-align: center;
    z-index: 2;
    color: black;
}
.taskdetailsbackground {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.monthcounter {
    height: 91.2%;
    width: 100%;
    position: absolute;
    z-index: -1;
}
#taskindex {
    z-index: 1;
}
.createbutton {
    padding: 10px 15px;
    margin-left: 1vw;
}
.createbutton:hover {
    background-color: lightskyblue;
}
.h3newTask {
    color: black;
}
.searchdiv {
    position: absolute;
    top: 55vh;
    left: 1vw;
    height: 43vh;
    background-color: white;
    width: 22vw;
    border: 1px solid black;
    text-align: center;
    z-index: 2;
    color: black;
}
.searchdivbackground {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}
.searchResult {
    display: flex;
    justify-content: space-between;
    vertical-align: central;
    border: 1px solid black;
}
.searchResultsDiv {
    overflow-y: scroll;
    height: 30vh;
}