* {
    box-sizing: content-box;
}

html, body {
    background-color: #fff;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.pagetop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.cal {
    font-size: 22px;
    padding: 15px 0 15px 15px;
}

.todaybutton {
    padding: 10px 15px;
    border: 0.5px solid black;
    background-color: white;
}

.ultoppage {
    margin: 0;
    padding: 0;
    border: 0.5px solid black;
}

.litopinline {
    display: inline-block;
}

.topbutton {
    padding: 10px 15px;
    border: 0;
    background-color: inherit;
}

.changeofbg {
    width: 40px;
    height: 40px;
}

.svg {
    display: flex;
    align-items: center;
}

.profile {
    height: 40px;
    width: 40px;
}

.profilediv {
    padding: 10px 10px;
    border-left: 0.5px solid black;
}

.hrmargin {
    margin: 0;
    border-collapse: collapse;
    border: 1px solid grey;
}
.bla {
    display: flex;
    justify-content: space-between;
}
.calendarbody {
    width: 20%;
}
#calendartable {
    width: 100%;
    text-align: center;
    margin: 10px 10px;
    max-height: 287px;
    display: table;
    table-layout: fixed;
}
#next, #previous {
    user-select: none;
    cursor: pointer;
}
#monthsetting {
    text-align: left;
    padding-left: 10px;
    font-size: 20px;
}
td {
    padding: 7px 5px;
}
.nextmonth, .previousmonth {
    opacity: 50%;
}
.tcontent {
    width: 75%;
}
.kok {
    height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}
.tablecontent {
    width: 98.3%;
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
    border-bottom: 0.5px solid black;
    text-align: center;
    display: table;
    table-layout: fixed;
}
#tablebordercontent {
    text-align: center;
    width: 100%;
    display: table;
    table-layout: fixed;
}
#tablebordercontent tr td {
    border-spacing: 0px;
    content: "";
    height: 25px;
    outline: 0.5px solid grey;
}
.tbody {
    user-select: none;
    cursor: pointer;
}
.tbody tr td:hover {
    background-color: lightskyblue;
}