@use "src/CalendarComponents/WeekComponents/weekComponents" as *;
@use "src/CalendarComponents/calendarComponents" as *;
@import "_mixin.scss";
* {
    box-sizing: content-box;
}
html, body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

/////////////////////////////////////////////////////////////// Calendar.jsx component SASS
.page-top {
    @include displayF(flex, space-between);
    align-items: center;
    overflow: hidden;

    span {
        font-weight: bold;
        font-size: 1.4rem;
        padding: 2vh 0 2vh 1.35vw;
        margin-right: 8.5vw;
    }
}   
//Today button and div holding all buttons
.page-top_divbuttons {
    @include displayF(flex, space-between);
    width: 30vw;

    button {
        @include borderD();
        @include paddingT(1vh, 2vw);
        border-radius: $borderRadius;
        cursor: $cursorP;
    }

    button:hover {
        background-color: $hoverColour;
    }
}
// Ul + li represents Week,Month,Year buttons
.page-top_ul {
    @include borderD();
    border-radius: $borderRadius;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
    }

    button {
        @include paddingT(1vh, 2vw);
        cursor: $cursorP;
        border: 0;
        border-radius: 0;
    }

    button:hover {
        background-color: $hoverColour;
    }
}
#page-top_ul_liF {
    border-top-left-radius: calc($borderRadius / 2);
    border-bottom-left-radius: calc($borderRadius / 2);
}
#page-top_ul_liL {
    border-top-right-radius: calc($borderRadius / 2);
    border-bottom-right-radius: calc($borderRadius / 2);
}
// Search input and button
#page-top_input {
    @include paddingT(1vh, 0vw);
    @include borderD();
    border-top-left-radius: $borderRadius;
    border-bottom-left-radius: $borderRadius;
    border-right: 0;
}
.page-top_search_button {
    @include paddingT(1vh, 2vw);
    @include borderD();
    border-top-right-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    cursor: $cursorP;
}
.page-top_search_button:hover {
    background-color: $hoverColour;
}
// Svg change of background 
.page-top_svg_div {
    display: flex;
    align-items: center;

    svg {
        height: 5.7vh;
        width: 2.6vw;
        cursor: pointer;
    }
}
// User picture
.page-top_user_div {
    @include paddingT(1.4vh, 0.65vw);
    border-left: 0.1vh solid $borderColour;
    user-select: none;
    cursor: $cursorP;
    background-color: rgb(253, 253, 253);

    img {
        height: 5.7vh;
        width: 2.7vw;
    }
}
// Division between the top of the page and its content
.page-divide_hr {
    margin: 0;
    border-collapse: collapse;
    border: 0.1vh solid $borderColour;
}
// Div holding the whole content of the page
.page-content {
    @include displayF(flex, space-between);
}
// Div holding the content of the left side of the page
.page-left_side {
    width: 20vw;
}
// Table representing the calendar 
.calendar-table {
    @include displayTab();
    width: 100%;
    text-align: center;
    margin: 1.4vh 0.65vw;
}
// The name of the month
.calendar-table_month {
    text-align: left;
    padding-left: 0.6vw;
    font-size: 1.3rem;
}
// Arrows which user uses to navigate
.calendar-table_arrow {
    user-select: none;
    cursor: $cursorP;
}
// Style for the elements of the table
.calendar-table_body {
    user-select: none;
    cursor: $cursorP;
    border-collapse: collapse;
}
.calendar-table_body tr td {
    @include paddingT(1vh, 0.32vw);
}
.calendar-table_body tr td:hover {
    background-color: $hoverColour;
}
.calendar-table_previousM, .calendar-table_nextM {
    color: $borderColour;
}
.calendar-table_arrow:hover, .calendar-table_previousM:hover, .calendar-table_nextM:hover {
    background-color: $hoverColour;
}
// Buttons under the table calendar
.create-switch_button {
    @include paddingT(1.42vh, 0.97vw);
    @include borderD();
    margin-left: 1vw;
    border-radius: $borderRadius;
    cursor: $cursorP;
}
.create-switch_button:hover {
    background-color: $hoverColour;
}

/////////////////////////////////////////////////////////////// Search component SASS (inside App.jsx)
.search-div {
    @include borderD();
    border-radius: $borderRadius;
    position: absolute;
    top: 55vh;
    left: 1vw;
    height: 42vh;
    background-color: white;
    width: 22vw;
    text-align: center;
    z-index: 2;
    color: black;
}
// Cancel button in search component
.search-div_cancel {
    @include cancelButton();
}
.search-div_cancel:hover {
    background-color: $hoverColour;
}
// Div which holds all the results from search algorithm
.search-div_results {
    overflow-y: scroll;
    height: 28vh;
    border-top: $borderThickness solid $borderColour;
    border-bottom: $borderThickness solid $borderColour;
}
// Div which holds a single result from search algorithm
.search-div_plan_creation {
    @include displayF(flex, space-between);
    vertical-align: central;
    border: 1px solid black;

    button {
        cursor: $cursorP;
    }
    
    button:hover {
        background-color: $hoverColour;
    }
}
// Button to hide the r
.search-div_hide_button {
    @include borderD();
    @include paddingT(1.05vh, 1vw);
    display: block;
    border-radius: $borderColour;
    position: absolute;
    left: 5vw;
    bottom: 0;
    border-bottom: 0;
}
.search-div_hide_button:hover {
    background-color: $hoverColour;
    cursor: $cursorP;
}
